@import "tailwindcss";


@theme{
  --font-syne:"Syne", sans-serif;
  --font-Cormorant: "Cormorant Garamond", serif;
  --font-roboto:"Poppins", sans-serif;
}
.laga{
  background:  url(./assets/istockphoto-2167711128-612x612.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:90vh;
}
.weck{
  background: url(./assets/zc-stock-images-02.webp);
}